// Place all the styles related to the newsession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-inverse{
    text-align: center;
}

.navbar { 
    height: 8px;
    border-radius: 0px;
    color: white; 
}
